@model MaterialViewModel


@*<section>
<h2>@Model.Title</h2>

<div>

</div>


</section>*@

<section>
    <form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="profilePictureLabel">Профилна снимка</label>
        <label class="btn h-full-width" for="uploadProfilePicture">Прикачи Профилна Снимка</label>
            <input asp-for="FileInfo" for="file" id="uploadProfilePicture" class="upload-photo" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf, .zip, .rar, .7z">
        <span asp-validation-for="FileInfo" class="text-danger"></span>
    </div>


        <input style="display:block;" asp-controller="Material" asp-action="Add" class="btn--primary h-full-width" type="submit" value="presssss">
    </form>

    <a href="https://res.cloudinary.com/dmv8nabul/raw/upload/v1706872600/qvidcxkp0tey3qxhjgcc.zip" download="renamed.txt">Download</a>
@*
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            @foreach (var slide in Model.Presentation)
            {
            <div class="carousel-item active">
                <img class="d-block w-100" src="@slide.UrlPath">
            </div>
            }
            
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>*@
    </div>
</section>