@model LoginViewModel
@{
}


<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Registration Form For Firm</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form method="post">
                    <div class="row clearfix">
                        <div class="input_field">
                            <input asp-for="Email" type="email" class="form-control" placeholder="samuilvanov@gmail.com*" required />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="input_field">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Парола*" required />
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <br>
                    <input class="button" type="submit" value="Login" />
                </form>
            </div>
        </div>
    </div>
    <a asp-controller="Account" asp-action="RegisterAsStudent" class="credit">I am not registrated. Click <b>here</b></a>
    <br>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}