@model LoginViewModel
@{
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<section>

    <div class="row flex-align-center">

        <div class="column large-6 tab-12">

            <h3 class="h-add-bottom">Вход</h3>

            <form method="post" enctype="multipart/form-data">
                <div>
                    <label for="sampleInput">Имейл</label>
                    <input asp-for="Email" class="h-full-width" type="email" placeholder="test@mailbox.com" id="sampleInput">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div>
                    <label for="sampleInput">Парола</label>
                    <input asp-for="Password" class="h-full-width" type="password" placeholder="123asd123" id="sampleInput">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <input asp-controller="Account" asp-action="Login" class="btn--primary h-full-width" type="submit" value="Вход">
            </form>

        </div>

    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}