@model RegisterViewModel
@{
}

<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Регистрация за учител</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form method="post" enctype="multipart/form-data">
                    <div class="row clearfix">
                        <div class="input_field">
                            <input asp-for="FirstName" type="text" class="form-control" placeholder="Самуил*" required />
                            <span asp-validation-for="FirstName"></span>
                        </div>
                        <div class="input_field">
                            <input asp-for="LastName" type="text" class="form-control" placeholder="Иванов*" required />
                            <span asp-validation-for="LastName"></span>
                        </div>
                        <div class="input_field">
                            <input asp-for="Email" type="email" class="form-control" placeholder="samuilvanov@gmail.com*" required />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="input_field">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Парола*" required />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="input_field">
                            <input asp-for="PasswordRepeat" class="form-control" placeholder="Потвърди парола*" required>
                            <span asp-validation-for="PasswordRepeat"></span>
                        </div>
                        <div class="input_field">
                            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="+359886121260*" required />
                            <span asp-validation-for="PhoneNumber"></span>
                        </div>
                        <div class="input_field">
                            <input asp-for="City" type="text" class="form-control" placeholder="Казанлък*" required/>
                            <span asp-validation-for="City"></span>
                        </div>
                        <div class="input_field">
                            <input asp-for="SchoolName" type="text" class="form-control" placeholder="ППМГ &quotНикола Обрешков&quot *" required/>
                            <span asp-validation-for="SchoolName"></span>
                        </div>
                           <div class="input_field">
                            <input asp-for="Experience" type="number" class="form-control" placeholder="5 години" required/>
                            <span asp-validation-for="Experience"></span>
                        </div>
                        <div class="input_field">
                            <input asp-for="Subject" type="text" class="form-control" placeholder="информатика" required/>
                            <span asp-validation-for="Subject"></span>
                        </div>
                    </div>

                    <input class="button" type="submit" value="Регистрирай се" />
                </form>
            </div>
        </div>
    </div>
    <div class="center">
        <a asp-controller="Account" asp-action="RegisterAsStudent" class="credit">Регистрация като <b>Ученик</b></a>
        <br>
        <a asp-controller="Account" asp-action="Login" class="credit">Вече имате акаунт? <b>Вход</b></a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}