@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PreparationForITExam</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

    @*   <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/PreparationForITExam.styles.css" asp-append-version="true" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- title of site -->

    <title>БлицКод-ДЗИ</title>

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true">

    <!--linear icon css-->
    <link rel="stylesheet" href="~/css/linearicons.css" asp-append-version="true">

    <!--animate.css-->
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">

    <!--flaticon.css-->
    <link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true">

    <!--slick.css-->
    <link rel="stylesheet" href="~/css/slick.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/slick-theme.css" asp-append-version="true">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/css/bootsnav.css" asp-append-version="true">


    <!--style.css-->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

    <!--responsive.css-->
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">

    @await RenderSectionAsync("Styles", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
</head>
<body>
    <header id="header-top" class="header-top">
        <div class="header-top-right">
            <partial name="_LoginPartial" />
        </div>
    </header>

    <!-- top-area Start -->
    <section class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
                 data-minus-value-mobile="55" data-speed="1000">

                <div class="container">
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <div>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a href="#" class="pull-left logo"><img class="logo" src="/logo/half-logo.png"></a>
                            <a class="navbar-brand nav-logo" href="index.html">Блиц<span>Код</span>-ДЗИ</a>
                        </div>
                    </div><!--/.navbar-header-->
                    <!-- End Header Navigation -->
                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li><a asp-controller="Home" asp-area="" asp-action="Index"><b>начало</b></a></li>
                            <li><a asp-controller="Curricular" asp-area="" asp-action="Index"><b>обучение</b></a></li>
                            <li><a asp-controller="Post" asp-area="" asp-action="Index"><b>форум</b></a></li>
                            <li><a asp-controller="Home" asp-area="" asp-action="Contacts"><b>контакти</b></a></li>
                            @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="Profile" asp-area="" asp-action="Index"><b>профил</b></a></li>
                            }

                        </ul><!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div><!--/.container-->

            </nav><!--/nav-->
            <!-- End Navigation -->
        </div><!--/.header-area-->
        <div class="clearfix"></div>

    </section><!-- /.top-area-->
    <!-- top-area End -->


    <div class="main">
        <main role="main" class="pb-3">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" style="opacity:100%;">
                    @TempData["message"]
                    <input type="button" class="btn" data-bs-dismiss="alert" style="margin-left: 2em; " value="Затвори" />

                </div>
            }
            @RenderBody()
        </main>
    </div>

    <!--footer start-->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="footer-menu">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="index.html">Блиц<span>Код</span>-ДЗИ</a>
                        </div><!--/.navbar-header-->
                    </div>
                    <div class="col-sm-9">
                        <ul class="footer-menu-item">
                            <li><a asp-controller="Home" asp-area="" asp-action="Index"><b>начало</b></a></li>
                            <li><a asp-controller="Curricular" asp-area="" asp-action="Index"><b>обучение</b></a></li>
                            <li><a asp-controller="Post" asp-area="" asp-action="Index"><b>форум</b></a></li>
                            <li><a asp-controller="Home" asp-area="" asp-action="Contacts"><b>контакти</b></a></li>
                            @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="Profile" asp-area="" asp-action="Index"><b>профил</b></a></li>
                            }
                        </ul><!--/.nav -->
                    </div>
                </div>
            </div>
            <div class="hm-footer-copyright">
                <div class="row">
                    <div class="col-sm-5">
                        <p>
                            &copy;copyright. designed and developed by Kresa Tsvetkova
                        </p><!--/p-->
                    </div>
                    <div class="col-sm-7">
                        <div class="footer-social">
                            <span><i class="fa fa-phone"> +1 (222) 777 8888</i></span>
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <a class="welcome-hero-btn" asp-controller="Account" asp-action="Register">
                                    Регистрация
                                </a>
                            }
                        </div>
                    </div>
                </div>

            </div><!--/.hm-footer-copyright-->
        </div><!--/.container-->

        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title=""
                   data-original-title="Back to Top" aria-hidden="true"></i>
            </div>

        </div><!--/.scroll-Top-->

    </footer><!--/.footer-->
    <!--footer end-->
    <!-- script
    ================================================== -->
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/plugins.js"></script>
    @*<script src="~/js/main.js" asp-append-version="true" defer></script>*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--modernizr.min.js-->
    <script src="~/js/modernizr.js" asp-append-version="true"></script>

    <!--bootstrap.min.js-->
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>

    <!-- bootsnav js -->
    <script src="~/js/bootsnav.js" asp-append-version="true"></script>

    <!--feather.min.js-->
    <script src="~/js/feather.min.js" asp-append-version="true"></script>

    <!-- counter js -->
    <script src="~/js/jquery.counterup.min.js" asp-append-version="true"></script>
    <script src="~/js/waypoints.min.js" asp-append-version="true"></script>

    <!--slick.min.js-->
    <script src="~/js/slick.min.js" asp-append-version="true"></script>

    <script src="~/js/main.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    <script src="~/js/custom.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
