@model MaterialFormViewModel

@{
}

<div class="row cont">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" enctype="multipart/form-data">

            <input type="hidden" asp-for="@Model.LessonId" />
            <input type="hidden" asp-for="@Model.SectionOfCurricularId" />
      
            <div class="mb-3">
                <label class="profilePictureLabel">Компресирана папка с твоите материали<span class="mandatory">*</span></label>
                <label class="btn h-full-width" for="uploadPresentation">Прекачи Компресирана папка</label>
                <input asp-for="FileInfo" id="uploadPresentation" class="upload-photo" for="FileInfo" multiple accept=".zip, .rar, .7z">
                <span asp-validation-for="FileInfo" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input class="btn btn-success" type="submit" value="Запази" />
                <a asp-controller="Lesson" asp-action="Index" asp-route-id="@Model.LessonId" class="btn btn-danger">Отмени</a>
            </div>
        </form>
    </div>
</div>
