<!--welcome-hero start -->
<section id="home" class="welcome-hero">
    <div class="container bg-transperent">
        <div class="welcome-hero-txt">
            <h2>искаш да се представиш отлично на дзи по информатика <br></h2>
            <p>
                Тук е точното място за това! На ваше разположение са безброй полезни материали
            </p>
            <p>
                Не губи време - Започни сега!
            </p>
        </div>
        <div class="welcome-hero-serch-box">

            <div class="welcome-hero-serch">
                <a class="welcome-hero-btn" asp-controller="Account" asp-action="Register">
                    НАЧАЛО
                </a>
            </div>
        </div>
    </div>

</section><!--/.welcome-hero-->
<!--welcome-hero end -->
<section id="list-topics" class="list-topics">
    <div class="container">
        <div class="list-topics-content">
            <ul>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-restaurant"></i>
                        </div>
                        <h2><a href="#">resturent</a></h2>
                        <p>150 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-travel"></i>
                        </div>
                        <h2><a href="#">destination</a></h2>
                        <p>214 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-building"></i>
                        </div>
                        <h2><a href="#">hotels</a></h2>
                        <p>185 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-pills"></i>
                        </div>
                        <h2><a href="#">healthcaree</a></h2>
                        <p>200 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-transport"></i>
                        </div>
                        <h2><a href="#">automotion</a></h2>
                        <p>120 listings</p>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--/.container-->

</section><!--/.list-topics-->
<!--list-topics end-->
<!--works start -->
<section id="works" class="works">
    <div class="container">
        <div class="section-header">
            <h2>Как работи</h2>
            <p>Научете повече за това какво Ви преоставя БлицКод</p>
        </div><!--/.section-header-->
        <div class="works-content">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="student"></i>
                        </div>
                        <h2><a href="#">Ученици</a></h2>
                        <p>
                            Има достъп до различни учебни материали по учебната програма, различни задачи и
                            упражнения на съответните уроци
                        </p>
                        <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                            Повече
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="teacher"></i>
                        </div>
                        <h2><a href="#">Учители</a></h2>
                        <p>
                            Имат възможността да добавят материали към уроците и упражненията, както и да проверяват
                            предадени задачи на ученици като оставят рецензия
                        </p>
                        <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                            Повече
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="mon"></i>
                        </div>
                        <h2><a href="#">МОН</a></h2>
                        <p>
                            Администратори на приложението. Спускат новите новини и съобщения. Предоставят главната структура на уроците
                        </p>
                        <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                            Повече
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->

</section><!--/.works-->
<!--works end -->
