@model SectionLessonViewModel

<link rel="stylesheet" href="~/css/lessonsStyle.css" asp-append-version="true" />

<section id="lessons">
    <div class="curricular-head lesson-head">
        <h3>@Model.Module</h3>
        <p> @Model.Title</p>
    </div>

    <ol class="gradient-list">
        @foreach (var lesson in Model.Lessons)
        {
            <li><a class="curricular-element" asp-controller="Lesson" asp-area="" asp-action="Index" asp-route-id="@lesson.Id">@lesson.Title</a></li>
        }
    </ol>
</section>